{% extends 'base.html' %}

{% block title %}
    Event Calendar
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .date{
            margin: 1% 0 1% 0;
            font-size: large;
            background-color: #e8e4b6;
            border-radius: 6px;
            text-align: center;
            padding: 2;
            cursor: pointer;
        }

        .b-container{
            width: 40%;
            background-color: #c3e0a8;
            font-size: 20px;
            border-radius: 12px;
            text-align: center;
        }

        .popup .popuptext {
            padding: 8px;
            background-color: rgb(206 227 232);
            border-radius: 5px;
            box-shadow: 0px 0px 10px #000;
            display: inline;
            float: right;
            position: absolute;
            margin-left: 1%;
        }
        .popuptext {
            overflow: auto;
        }

        .flex-container {
            display: flex;
            padding: 1%;
        }

        .leftcol {
            position: fixed;
            width: 17%;
            background: #dfedf9;
            padding: 1%;
        }

        .rightcol {
            float: right;
            width: 74%;
        }

    </style>
{% endblock %}

{% block extra_scripts %}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <script>
            $(document).ready(function(){
                $('input[name="daterange"]').daterangepicker({
                    autoUpdateInput: false,
                    opens: 'right',
                });
                $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                    $('#left_form').submit();
                });

                $('input[name="daterange"]').on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                    $('#left_form').submit();
                });

                [].forEach.call($(".record"),function(el){
                    el.querySelector('div').addEventListener('click', event => {
                        ul_elem = el.querySelector('ul');
                        date_elem = el.querySelector('div');
                        console.log(date_elem);
                        if (ul_elem.style.display === "none") {
                            ul_elem.style.display = "block";
                            date_elem.innerHTML = date_elem.innerHTML.replace("▲","▼");
                        } else {
                            ul_elem.style.display = "none";
                            date_elem.innerHTML = date_elem.innerHTML.replace("▼","▲");
                        }
                    })
                });
            });
            function PopUpShow(id){
                $("#popup" + id).show();
            }
            function PopUpHide(id){
                $("#popup" + id).hide();
            }

        </script>
{% endblock %}

{% block main %}
    <div class="leftcol" >
        <form action="/" method="GET" id="left_form">
            <label for="form-check-label">Pick your date range</label>
            <input class="form-control" type="text" name="daterange" autocomplete="off" value="{{request.GET.daterange}}"/>
            <br/>
            <p>Subjects</p>
            <hr/>
            {% for subject in subjects %}
            <div class="form-check">
                <input type="hidden" name="{{subject.description}}" value="0">
                <input class="form-check-input"
                    {% if subject.enabled %} checked {% endif %}
                    type="checkbox" name="{{subject.description}}" value="1" id="flexCheckDefault" onchange="$('#left_form').submit();">
                <label class="form-check-label" for="flexCheckDefault">
                    {{subject.description}}
                </label>
            </div>
            {% endfor %}
            <hr/>
            <p>Location</p>
            <hr/>
            {% for location in locations %}
            <div class="form-check">
                <input type="hidden" name="{{location.name}}" value="0">
                <input class="form-check-input"
                    {% if location.enabled %} checked {% endif %}
                    type="checkbox" name="{{location.name}}" value="1" id="flexCheckDefault" onchange="$('#left_form').submit();">
                <label class="form-check-label" for="flexCheckDefault">
                    {{location.name}}
                </label>
            </div>
            {% endfor %}
            <br />
            <hr/>
            <a class="btn btn-primary" href="{% url 'admin:events_event_add' %}">Create Event</a>
        </form>
    </div>
    <div class="rightcol">
        {% for date, events in days.items %}
        <div class="record">
            <div class="date">
                <b style="text-decoration: underline;"> {{ date|date:"l F d-m-Y" }} </b> &nbsp; ▼
            </div>
            <ul>
                {% for event in events %}
                <div class="flex-container">
                    <div class='b-container' style="background-color: {{ event.subject.color }};" onclick="PopUpShow({{ event.id }})">
                        <li>
                            {{ event.title }} <br/>
                            {{ event.starttime|date:"G:i"  }} - {{ event.endtime|date:"G:i" }}
                        </li>
                    </div>
                    <div class="popup " id="popup{{ event.id }}" style="display: none;">
                        <div class="popuptext">
                            <a href="{% url 'admin:events_event_change' event.id %}">Edit Event</a>&nbsp;&nbsp;
                            <a href="{% url 'admin:events_event_delete' event.id %}">Delete Event</a>
                            <a style="float: right;" href="javascript:PopUpHide({{ event.id }})">&#10006;</a> <br/>
                            Location:&nbsp;{{ event.location.address }} <br/>
                            Customer:&nbsp;{{ event.customer.name }}&nbsp;{{ event.customer.surname }} <br/>
                            Coordinator:&nbsp;{{ event.coordinator.name }}&nbsp;{{ event.coordinator.surname }} <br/>
                            Subject:&nbsp;{{ event.subject.description }} <br/>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
{% endblock %}

