<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>

        </style>

        <script>

        </script>
    </head>
    <body>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Hour</th>
                        {% for item in days %}
                          <th scope="col">{{ item|date:'l d/m' }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% for key, values in hours %}
                    <tr>
                        <td>{{ key }}</td>
                        {% for hour in values %}
                            <td> {{ hour }} </td>
                        {% endfor %}
                        <!-- <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> -->
                    </tr>
                {% endfor %}
            </table>
            <a class="button" href="{% url 'admin:events_event_add' %}">Create Event</a>
        </div>
    </body>
</html>
